*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-decoration: none;
    list-style: none;
}

.logo{
    margin-top: 20px;
    margin-left: 600px;
}

.Navigation{
    width: 50%;
    margin-left: 350px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px 20px;
    text-align: center;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
}
li {
    display: inline;
    margin-left: 55px;
}

.navigation ul li a{
    color: #000;
}

.image{
    width: 50%;
    display: flex;
    margin: 20px auto;
    text-align: center;
}

.image img {
    width: 33.2%;
    height: 165px;
}

.content{
    width: 50%;
    margin: auto;
    text-align: center;
}